# Ignore Go binary files
*.exe
*.out
*.test

# Ignore SQLite database files
volley_live_data.db

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files
docker-compose.yml
docker-compose.override.yml
docker-compose.*.yml

# Ignore development tools and configuration
*.env
.idea/
.vscode/

# Ignore Nix-related files
*/nix-*
*result*

# Ignore any build artifacts or temporary files
/tmp
*.log

# Ignore Go dependencies cache (you can copy only `go.mod` and `go.sum`)
vendor/
pkg/
